* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* #canvas {
    width: 1400px;
    height: 700px;
} */

#counter {
    z-index: 100 !important;
    size: 5em;
}

#player {
    width: 2em;
    height: 2em;
    background-color: green;;
}

.movable {
    position: absolute;
    transition: ease-in-out;
}